
<html>
<head>

  {{> header}}

</head>

<body>

  <h1 class="my_articles">My Articles</h1>

  <div class="container">

  {{> menu}}

  <div class="list-group">
    {{#articles}}

    <div class="d-flex w-100 justify-content-between">
      <h5 class="articles">{{title}}</h5>

    </div>
    <p class="articles">{{body}}</p>

  <div class="article-action-button">
    <a href="/users/articles/edit/{{articleid}}" >
      <button type="button" class="btn btn-primary">Edit</button>
    </a>

    <form action="/users/delete-article" method="POST">
      <input type="hidden" name="articleId" value={{articleid}} />
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>


    {{/articles}}
  </div>

</div>

  {{> footer}}

</body>
</html>
