
<html>
<head>

  {{> header}}

</head>

<body>


<div id="pageBody">
  <div class="container">

  {{> menu}}

  <div class="list-group">
    {{#articles}}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"> {{title}} !</h4>
  <p>{{body}}</p>
  <hr>
  <p class="mb-0">{{datecreated}}</p>

   {{/articles}}

</div>

{{> footer}}

</body>
</html>