
<html>
<head>

  {{> header}}

</head>

<body>

  <h1>Login</h1>

  <div class="container">

  {{> menu}}


  <form action='/login' method="POST">

 <div id="usernamePasswordbox">

  <div class="form-inline">
    <label for="exampleInputEmail1">  </label>
    <input type="text" name="username" class="form-control" placeholder="Enter user name">

  </div>
  <div class="form-inline">
    <label for="exampleInputPassword1">  </label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>

  <button type="submit" class="submitButton">Submit</button>

  {{#message}}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
  {{/message}}

  </div>

</form>

</div>

  {{> footer}}

</body>
</html>
